.user{
    margin: 15px;
    margin-bottom: 50px;
    text-align: center;
    
}

.btn-juegos{
    width: 100%;
    margin-bottom: 50px;
    padding: 10px;
    text-decoration: none;
}

.btn-estadisticas{
    width: 100%;
    margin-bottom: 50px;
    padding: 10px;
}

.cerrar-sesion{
    width: 100%;
    font-size: 15px;
    padding: 8px;
}

.btn-juegos:hover{
    background-color: #B38EE5;
}

.btn-estadisticas:hover{
    background-color: #B38EE5;
}

.cerrar-sesion:hover{
    background-color: #B38EE5;
}

.contenedor1{
    position: relative;
    top: 12%;
    left: 16%;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 84%;
}

.reng{
    display: flex;

}

.sumas{
    background-color: white;
    text-align: center;
    font-size: 5rem;
    color: #B38EE5;
    font-weight: bold;
    padding: 10%;
    margin-bottom: 60%;
}

.restas{
    background-color: white;
    text-align: center;
    font-size: 5rem;
    color: #B38EE5;
    font-weight: bold;
    padding: 10%;
}

.multi{
    background-color: white;
    text-align: center;
    font-size: 5rem;
    color: #B38EE5;
    font-weight: bold;
    padding: 10%;
}

.divi{
    background-color: white;
    text-align: center;
    color: #B38EE5;
    font-size: 5rem;
    font-weight: bold;
    padding: 10%;
    
}
