
.resultados{
    background-color: beige;
    width: 53%;
    text-align: center;
    position: relative;
    top: 16%;
    left: 40%;
    opacity: 0.85;
}

.title{
    font-size: 18px;
    font-weight: bold;
}
