.backgroundGame{
    height: 100vh;
    width: 100vw;
    background-color: #6E00FF;
    text-align: center;
}

.marginCard{
    height: 20vh;
    background-color: #6E00FF;
}

.btn{
    margin-right: 1vw;
    padding: 10%;
}